@charset "utf-8";

/* ---------------------------------------------------


  TOTAL


--------------------------------------------------- */
div {
	width:687px;
	height:574px;
	margin:0 auto;
	background:#fff;
	text-align:center;
	}

p {
	width:400px;
	margin:0 auto;
	font-size:14px;
	line-height:26px;
	text-align:left;
	}

h1{
	padding:60px 0 30px 0 !important;
	}

h1.pt30 {
	padding:20px 0 30px 0 !important;
	}

h1.pt120 {
	padding:120px 0 30px 0 !important;
	}