/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; z-index:9999; overflow:hidden; height:100%; min-height: 600px; top:0;}
#cboxOverlay{position:fixed; width:100%; height:100%; background:url(../../images_sp/company/overlay.png) repeat;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; width:835px;}
#cboxLoadedContent{width:100% !important; overflow:auto; -webkit-overflow-scrolling: touch; margin:0 auto !important; text-align:center;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxIframe{width:720px; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#colorbox{outline:0; margin:0 auto;}
#cboxLoadedContent{ margin:0 auto;}
    #cboxContent{ margin:0 auto !important; top:50px;}
	.cboxPhoto{
		width:100%;
		}


        #cboxPrevious{
			background:url(images/prev.gif) no-repeat;
			position:absolute;
			left:0;
			top:50%;
			width:40px;
			height:52px;
			overflow:visible;
			text-indent:-9999px;
			outline:0;
			border:none;
			}
		#cboxNext{
			background:url(images/next.gif) no-repeat;
			position:absolute;
			right:0;
			top:50%;
			width:40px;
			height:52px;
			overflow:visible;
			text-indent:-9999px;
			outline:0;
			border:none;
			}
		        
        #cboxClose{
			position:absolute;
			top:10px;
			right:10px;
			background:url(../../images_sp/company/close.png) no-repeat;
			background-size:30px 30px;
			width:30px;
			height:30px;
			text-indent:-9999px;
			z-index:100;
			outline:0;
			border:none;
			}
		
