@charset "utf-8";

/*----------------------------------------

wrap

----------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Old+Standard+TT';

html,body{
}

body {
	font-size: 13px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding: 0;
	margin: 0;
	width:100%;
	color:#221814;
	line-height:22px;
position:relative;
}
	
img{
    width: 100%;
}

a{
	text-decoration:none;
	color:#000;
}

/*----------------------------------------

nav

----------------------------------------*/
#menu {
    width: 70%;
	background:#f5f5f3;
	position:fixed;
	top:55px;
    right: -70%;
	z-index:10;
    height: 100%;
}

#menu ul.gNav {
	padding:20px 0 ;
	overflow-y:scroll !important;
}
#menu a {
	text-decoration: none;
}

#menu ul.gNav li a {
	//background:url(../../images_sp/arrow.png) no-repeat left 10px center;
	//background-size:20px;
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: #c91a20;
	padding:10px 0 10px 10px;
}

.icon-animation {
      width: 30px;
      height: 30px;
      display: block;
      cursor: pointer;
      float: right;
      position: absolute;
      right: .5rem;
      text-align: center;
      top: .3rem;
    }
 
    .icon-animation span {
      width: 30px;
      height: 3px;
      display: block;
      background: #c11b20;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
 
    .icon-animation .top {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
 
    .icon-animation .bottom {
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
    }
 
    .is-open .middle {
      background: rgba(51, 51, 51, 0);
    }
 
    .is-open .top {
      -webkit-transform: rotate(-45deg) translateY(0px);
      -ms-transform: rotate(-45deg) translateY(0px);
      transform: rotate(-45deg) translateY(0px);
    }
 
    .is-open .bottom {
      -webkit-transform: rotate(45deg) translateY(0px);
      -ms-transform: rotate(45deg) translateY(0px);
      transform: rotate(45deg) translateY(0px);
    }

.icon-animation p {
    font-family: 'Old Standard TT', serif;
	font-size:10px;
	position:absolute;
	top:25px;
	color:#c11b20;

}


/*----------------------------------------


header


----------------------------------------*/	
header {
	width:100%;
	height:40px;
	margin:0 auto;
	padding:15px 0 0 0;
	position:fixed;
	top:0;
	left:0;
	z-index:101;
	background:#fff;
	}

header h1{
	position:absolute;
	top:15px;
	left:8px;
	width:68px;
	z-index:101;
}

header h2{
	position:absolute;
	top:15px;
	left:78px;
	width:68px;
	z-index:101;
}
/*----------------------------------------


nav


----------------------------------------*/
header .hdrNav{
	position:absolute;
	top:10px;
	right:40px;
}
header .hdrNav ul{
	display:table;
	padding:0;
}

header .hdrNav li{
	display:table-cell;
	padding:0 10px 0 0;
	width:55px;
}


/*----------------------------------------
contents
----------------------------------------*/	
#contents {
	position:relative;
	width: 100%;
	top:55px;
	}

#pageTop{
	position:fixed;
	z-index:101;
	bottom:10px;
	right:10px;
	}

/*----------------------------------------
footer
----------------------------------------*/
footer {
	position:relative;
	padding:70px 0 0;
	width: 100%;
	}

footer p{
	text-align:center;
}


@media screen and (orientation: landscape) {
nav ul.gNav {
	display:table;
	padding:20px 0 ;
	font-size:0;
}

nav ul.gNav li{
	display:inline-block;
	width:50%;
}

nav ul.gNav li a{
	padding:5px 0 5px 10px;
}
nav ul.gNav li a img{
	width:100%;
}

}
