@charset "utf-8";

/*----------------------------------------
wrap
----------------------------------------*/	
html,body{
    height: 100%;
}

body {
	font-size: 15px;
  font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo;
	padding: 0;
	margin: 0;
	width:100%;
	color:#221814;
	line-height:31px;
}

body > #wrap {
	height: auto;
}

.spUser,
.pcUser {
   display :none;
}

#wrap{
	width:100%;
	min-width:950px;
	height: 100%;
    min-height: 100%;
	margin:0 auto;
	position: relative;
	}

	
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  overflow:hidden;
  font-size:0.1em;
  line-height:0;
}

.clearfix {
  min-height: 1px;
}

a{
	text-decoration:none;
	color:#000;
	-webkit-transition: 0.3s ease-in-out;
       -moz-transition: 0.3s ease-in-out;
         -o-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
			}

a:hover{
	text-decoration:none;
	color:#da0012;
   filter:alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;
}
a:focus{
	outline: none;
}

.sub_list a:hover,
footer a:hover,
.man a:hover,
.loNav ul a:hover,
.topNav ul a:hover,
.storyNav ul a:hover{
   filter:alpha(opacity=100);
   -moz-opacity: 1;
   opacity: 1;
}


	
/*----------------------------------------
header
----------------------------------------*/	
header {
	width:100%;
	margin:0 auto;
	position:fixed;
	top:0;
	z-index:101;
	}

header .hInner {
	background:#fff;
	width:100%;
	margin:0 auto;
	height:30px;
	padding:15px 0 0 0;
}

header .inner {
	position:relative;
	width:980px;
	margin:0 auto;
	height:30px;
}

header h1{
	position:absolute;
	right:0;
	vertical-align:middle;
}

header h2{
	position:absolute;
	width:200px;
	text-align:left;
	z-index:10;
}

header h3{
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	}

/*----------------------------------------
nav
----------------------------------------*/
header .hdrNav{
	position:absolute;
	right:70px;
	padding:2px 0 0 0;
}
header .hdrNav ul{
	display:table;
	padding:0;
}

header .hdrNav li{
	display:table-cell;
	padding:0 15px 0 0;
}



/*----------------------------------------
nav
----------------------------------------*/
.gNav {
	width:100%;
	background:rgba(255,255,255,0.60);
	padding:15px 0;
	}

.gNav ul {
	display:table;
	margin:0 auto;
	width:980px;
	font-size:13px;
	line-height:normal;
	text-align:center;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
	

.gNav ul li {
	display:table-cell;
	border-left:1px solid #999;
	padding:0 25px;
}

.gNav ul li:first-child {
	border-left:none;
	}


#ul_menu{
	width:100%;
	margin:0 auto;
	padding:0 0 0 0;
}
#ul_menu li.oya{
	width:150px;
	position:relative;
	z-index:100;
	margin:0 auto;
}

/*----------------------------------------
footer
----------------------------------------*/
#pageTop{
	position:fixed;
	z-index:101;
	bottom:150px;
	right:100px;
	}
	
footer {
	width: 100%;
	background:#fff;
	}

footer p{
	text-align:center;
	padding:40px 0 10px;
}

/*----------------------------------------
other
----------------------------------------*/
.clear{clear:both !important;}
.c{text-align:center !important;}
.r{text-align:right !important;}
.l{text-align:left !important;}
.pb40 {padding-bottom:40px !important;}
.pr40 {padding-right:40px !important;}
.pr50 {padding-right:50px !important;}
.pl40 {padding-left:40px !important;}
.pl50 {padding-left:50px !important;}
.mt-20 {margin-top:-20px !important;}
.mt-60 {margin-top:-60px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}
.mt110 {margin-top:110px !important;}
.mt120 {margin-top:120px !important;}
.mt130 {margin-top:130px !important;}
.mt140 {margin-top:140px !important;}
.mt150 {margin-top:150px !important;}
.mt160 {margin-top:160px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb65 {margin-bottom:65px !important;}
.mb70 {margin-bottom:70px !important;}
.mb75 {margin-bottom:75px !important;}
.mb80 {margin-bottom:80px !important;}
.mb110 {margin-bottom:110px !important;}
.mb120 {margin-bottom:120px !important;}
.fL {float:left;}
.fR {float:right;}
.txt11{font-size:11px;}
.txt12{font-size:12px;}
.txt13{font-size:13px;}
.txt14{font-size:14px;}
.txt16{font-size:16px;}
.txt18{font-size:18px;}
.txt19{font-size:19px;}
.txt29{font-size:29px; line-height:48px;}
.fWhite{color:#fff;}
.lh31{line-height:31px;}
.lh46{line-height:46px;}
.bgNon{background:none !important;}
.red{ color:#ff0000;}
.hid{ text-indent:-9999px;}

