@charset "utf-8";

/** RESET AND LAYOUT
===================================*/

.workSlide {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	width:980px;
	*zoom: 1;
}

.workSlide img {
}

/** THEME
===================================*/

.workSlide .bx-viewport {
	left: -5px;
	background: #f6f6f4;
}


.workSlide .bx-pager,
.workSlide .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.workSlide .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.workSlide .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.workSlide .bx-pager .bx-pager-item,
.workSlide .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.workSlide .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.workSlide .bx-pager.bx-default-pager a:hover,
.workSlide .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.workSlide .bx-prev {
	left: -80px;
	background:url(../../images/person/topSlideL.gif) no-repeat;
	width:58px;
	height:58px;
	z-index:100 !important;
	}

.workSlide .bx-next {
	right: -80px;
	background:url(../../images/person/topSlideR.gif) no-repeat;
	width:58px;
	height:58px;
	z-index:100 !important;
	}

.workSlide .bx-prev:hover {
	filter:alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;

}

.workSlide .bx-next:hover {
	filter:alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;
   }

.workSlide .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -26px;
	outline: 0;
	width: 58px;
	height: 58px;
	text-indent: -9999px;
	z-index: 9999;
}

.workSlide .bx-controls-direction a.disabled {
	filter:alpha(opacity=10);
   -moz-opacity: 0.1;
   opacity: 0.1;
}

/* AUTO CONTROLS (START / STOP) */

.workSlide .bx-controls-auto {
	text-align: center;
}


/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.workSlide .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.workSlide .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}