@charset "utf-8";

/*----------------------------------------
home
----------------------------------------*/
.home{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index:100 !important;
}

/*----------------------------------------
contents
----------------------------------------*/	
#contents {
	width: 100%;
	margin:0 auto;
	}

	
#contents ul{
	font-size:0;
	min-width:980px;
	}
		
#contents ul li{
	display:inline-block;
	position:relative;
	width: 50%;
	//height:100%;
	min-width:490px;
	}

#contents ul li a{
	display:block;
	}

#contents ul li a:hover{
	background:rgba(255,255,255,0.50);
	}

#contents ul li h3{
	padding:15% 0;
	text-align:center;
	height:100%;
	}

#contents ul li:nth-child(1) h3{
	padding:20% 0;
	}

#contents ul li:nth-child(8) h3{
	padding:10% 0;
	}

#contents ul li:nth-child(1){
	width: 100%;
	background:url(../../images/background1.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(2){
	background:url(../../images/background2.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(3){
	background:url(../../images/background3.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(4){
	background:url(../../images/background4.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(5){
	background:url(../../images/background5.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(6){
	background:url(../../images/background6.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(7){
	background:url(../../images/background7.jpg) no-repeat center top;
	background-size:cover;
	}

#contents ul li:nth-child(8){
	background:url(../../images/background8.gif) no-repeat center top;
	background-size:cover;
	width: 100%;
	}
	
.home article{
	display:table;
	height:100%;
	margin:0 auto;
	text-align:center;
}