@charset "utf-8";

/* ---------------------------------------------------


  TOTAL


--------------------------------------------------- */
#contents {
	clear:both;
	width: 100%;
	margin:0 auto;
	padding:100px 0 0 0;
	}

#contents h1 {
	padding:0 0 40px 0;
	}

.pageTop_cach {
	font-size:17px;
	width:auto !important;
	text-align:center !important;
	}


/* ---------------------------------------------------


  CULTURE


--------------------------------------------------- */
.cultureTop {
	width: 100%;
	background:url(../../images/culture/topBg.gif)  top center repeat-x;
	margin:0 auto;
	text-align:center;
	}

.cultureTop article{
	margin:0 auto;
	width:900px;
	padding:50px 0 0 0;
	height:1050px;
}

.cultureTop nav.topNav ul{
	display:table;
	width:900px;
	padding:130px 0 0 0;
}

.cultureTop nav.topNav li{
	display:table-cell;
}


#culture nav.loNav ul{
	display:table;
	width:880px;
	margin:0 auto;
	padding:0 0 40px 0;
}

#culture nav.loNav li{
	display:table-cell;
}	

/*----------------------------------------
story
----------------------------------------*/
.story {
	width: 100%;
	background-image:url(../../images/culture/storyBg_top.gif),
url(../../images/totalBg_bottom.gif);
	background-repeat:no-repeat,no-repeat;
	background-position:center top,center bottom;
	margin:0 auto;
	text-align:center;
	}


.story h2{
	padding:0 0 40px;
	text-align:center;
	}


.story h3.top{
	padding:0 0 470px;
	text-align:center;
	max-height: 999999px;
	}

.story .storyNav ul {
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:980px;
	padding:0 0 40px 0;
	}

.story .storyNav ul.foot {
	padding:0 0 230px 0 !important;
	}

.story .storyNav li{
	display:table-cell;
}	

.story article{
	margin:0 auto;
	padding:30px 0 0 0;
	height:auto;
}


.story .inner{
	display:table;
	width:680px;
	margin:0 auto;
}

.story h4{
	text-align:center;
	padding:40px 0;
}

/*----------------------------------------
real
----------------------------------------*/
.real {
	width: 100%;
	background-image:url(../../images/culture/realBg_top.gif),
url(../../images/totalBg_bottom.gif);
	background-repeat:no-repeat,no-repeat;
	background-position:center top,center bottom;
	margin:0 auto;
	text-align:center;
	}
	
.real h3{
	padding:0 0 40px;
	text-align:left;
	}
	
.realGr{
	background:#efefeb;
	padding:55px 0 80px;
	}

.realWh{
	background:#fff;
	padding:55px 0 80px;
	}

.realGr .inner{
	width:900px;
	}

.realGr aside.q01 dl{
	display:table;
	text-align:left;
	padding:80px 0 0;
	}

.realGr aside.q01 dt{
	padding:15px;
	width:115px;
	display:table-cell;
	background:#000;
	color:#fff;
	font-size:20px;
	text-align:center;
	padding-top:30px;
	}

.realGr aside.q01 dd{
	padding:15px;
	width:725px;
	display:table-cell;
	background:#fff;
	font-size:15px;
	padding-top:30px;
	padding-left:60px;
	}

.realGr aside.q01 li{
	float:left;
	padding-right:30px;
	}


/*----------------------------------------
report
----------------------------------------*/
.report01{
	background:url(../../images/culture/report01Bg01.jpg) no-repeat center 250px;
}

.report02{
	background:url(../../images/culture/report02Bg01.jpg) no-repeat center 250px;
}

.report h3{
	padding:0 0 560px;
	text-align:center;
	max-height: 999999px;
	}

.reportPh{
	background:#4d4d4d;
	margin:0 auto;
}

.reportPh .inner{
	width:980px;
	margin:0 auto;
	padding:120px 0 120px;
}

.reportPh .inner ul{
	width:990px;
	margin:0 auto;
}

.reportPh .inner ul li{
	padding:0 10px 10px 0;
	float:left;
}


/*----------------------------------------


project


----------------------------------------*/
.project {
	width: 100%;
	background-image:url(../../images/project/bg.gif),
url(../../images/totalBg_bottom.gif);
	background-repeat:repeat-x,no-repeat;
	background-position:center top,center bottom;
	margin:0 auto;
	text-align:center;
	}

.project h1{
	padding:20px 0 40px !important;
	text-align:center;
	}

.project h3.top{
	padding:0 0 470px;
	text-align:center;
	max-height: 999999px;
	}

.project .storyNav ul {
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:980px;
	padding:0 0 40px 0;
	}

.project .storyNav ul.foot {
	padding:0 0 230px 0 !important;
	}

.project .storyNav li{
	display:table-cell;
}	

.project article{
	margin:0 auto;
	padding:30px 0 0 0;
	height:auto;
}

.story01{
	background:url(../../images/project/story01Bg01.jpg) no-repeat center 225px;
}

.story02{
	background:url(../../images/project/story02Bg01.jpg) no-repeat center 225px;
}

.storyPhase01{
	background:#000 url(../../images/project/storyBg_middle.gif) no-repeat top center;
	margin:0 auto;
	color:#fff;
}

.story01End{
	background:url(../../images/project/story01Bg02.jpg) no-repeat center top;
	height:720px;
}

.story02End{
	background:url(../../images/project/story02Bg02.jpg) no-repeat center top;
	height:728px;
}


.storyPhase{
	background:#000;
	margin:0 auto;
	color:#fff;
}

.project .inner{
	display:table;
	width:680px;
	margin:0 auto;
}

.project .outline{
	width:980px;
	margin:0 auto;
	text-align:left;
	padding:30px 0;
	max-height: 999999px;
}

.project .message{
	width:980px;
	margin:0 auto;
	text-align:left;
	padding:60px 0;
}

.project .message p{
	padding:60px 0 0 0;
	width:485px;
	font-size:17px;
	max-height: 999999px;
}


.project img.profle{
	position:relative;
	left:25px;
	margin:-330px 0 0 0;
	}

.project .outline p{
	width:635px;
}

.storyPhase01 .ico,.storyPhase .ico{
	text-align:center;
	padding:53px 0 0 0;
}

.storyPhase01 .inner img{
	display:table-cell;
	width:330px;
}

.storyPhase01 .inner .txt{
	display:table-cell;
	width:320px;
	padding:0 0 40px 0;
}

.storyPhase01 p, .storyPhase p{
	padding:0 0 40px 0;
	text-align:left;
	max-height: 999999px;
}

.project h4{
	text-align:center;
	padding:40px 0;
}

/* ---------------------------------------------------


  MESSAGE


--------------------------------------------------- */
.Message{
	background:#f0f0ee;
	margin:0 auto;
	text-align:center;
}

.Message article{
	margin:0 auto;
	padding:50px 0 0 0;
}

.Message h2{
	padding:70px 0;
}

.Message p{
	font-size:17px;
	line-height:47px;
	padding:0 0 300px 0;
	max-height: 999999px;
}

/* ---------------------------------------------------


  COMPANY


--------------------------------------------------- */
.companyTop{
	width: 100%;
	background:url(../../images/company/topBg_top.gif) no-repeat center top;
	margin:0 auto;
	text-align:center;
}

.companyTopB{
	width: 100%;
	background:url(../../images/company/topBg_bottom.gif) repeat-x center bottom;
	margin:0 auto;
	text-align:center;
	padding-top:80px;
}

.companyTop article{
	margin:0 auto;
	padding:50px 0 0 0;
}

.companyTop .loNav ul ,.company .loNav ul{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:720px;
	padding:40px 0 100px 0;
	}

.companyTop .loNav ul.foot ,.company .loNav ul.foot {
	padding:0 0 100px 0 !important;
	}

.companyTop .loNav ul.foot {
	padding:0 0 50px 0 !important;
	}

.company .loNav ul.foot.space {
	padding:0 0 150px 0 !important;
	}

.companyTop .loNav li ,.company .loNav li{
	display:table-cell;
}

.companyTop .topNav ul {
	display:table;
	margin:0 auto;
	table-layout:fixed;
	width:650px;
	padding:36px 0 0 0;
	}

.companyTop .topNav ul.foot {
	padding:0 0 230px 0 !important;
	}

.companyTop .topNav li{
	display:table-cell;
}	

.companyTop .idea .inner, .companyTop .brand .inner , .companyTop .about{
	width:900px;
	margin:0 auto;
	text-align:left;
}

.companyTop .idea{
	background:url(../../images/company/topBg_rinen.jpg) no-repeat top center;
	height:647px;
}

.companyTop .brand{
	background:url(../../images/company/topBg_brand.jpg) no-repeat top center;
	height:607px;
}

.companyTop .about{
	padding:0 0 100px;
	display:table;
}
	
.companyTop .brand h2, .companyTop .idea h2, .companyTop .about h2{
	padding:70px 0 0;
}

.companyTop .brand h3, .companyTop .idea h3{
	padding:60px 0;
}

.companyTop .about h2{
	display:table-cell;
	width:140px;
	vertical-align:top;
}

.companyTop .about table{
	display:table-cell;
	font-size:13px;
	line-height:18px;
	padding:70px 0 0 0;
	max-height: 999999px;
	margin-top:70px;
	width:700px;
}

/*----------------------------------------
total
----------------------------------------*/
.company {
	width: 100%;
	background-image:url(../../images/company/companyBg_top.gif),
url(../../images/company/topBg_bottom.gif);
	background-repeat:no-repeat,repeat-x;
	background-position:center top,center bottom;
	margin:0 auto;
	text-align:center;
	height:auto;
	}

.company article{
	margin:0 auto;
	padding:30px 0 0 0;
}

.company h2{
	padding:40px 0;
	text-align:center;
	}
	
/*----------------------------------------
data
----------------------------------------*/
.data {
	width: 980px;
	text-align:center;
	margin:0 auto;
	padding:0 0 0;
	}

.data .inner {
	padding:50px 0 0 0;
	}

.data .inner img {
	float:left;
	padding:0;
	margin:0;
	-webkit-transform: translate3d(0, 0, 0);	
	transform: translate3d(0, 0, 0);	
	}

/*----------------------------------------
history
----------------------------------------*/
.history {
	width: 980px;
	text-align:center;
	margin:0 auto;
	padding:0 0 0;
	}

.history table {
	background-image:url(../../images/company/historyBg_top.gif);
	background-repeat:repeat-y;
	background-position:right top;
	width:855px;
	margin:0 0 0 135px;
	}

.history table.end {
	background-image:url(../../images/company/historyBg_bottom.gif),
url(../../images/company/historyBg_top.gif);
	background-repeat:no-repeat,repeat-y;
	background-position:right bottom,right top;
	width:855px;
	margin:0 0 0 135px;
	}

.history table tr {
	}

.history table th{
	background:url(../../images/company/historyBg_line.png) center bottom no-repeat !important;
	padding:65px 0;
	}

.history table td{
	background:url(../../images/company/historyBg_line.png) center bottom no-repeat !important;
	font-size:16px;
	padding:65px 0;
	max-height: 999999px;
	}

.history table td.pd20{
	background:url(../../images/company/historyBg_line.png) center bottom no-repeat !important;
	padding:20px 0;
	}
		
.history table td.txt{
	background:url(../../images/company/historyBg_arrow.png) center bottom no-repeat !important;
	text-align:left;
	}

.history table.end th, .history table.end td, .history table.end td.txt{
	background:none !important;
	padding:65px 0 130px;
	}

#hList {
	position:absolute;
	margin:70px 0 0 0;
	z-index:101;
}

#hList nav ul {
}

#hList nav ul li a {
	height:30px;
	width:53px;
	overflow:hidden;
	text-indent:-9999px;
	display:block;
	-webkit-transition:none;
       -moz-transition:none;
         -o-transition:none;
            transition:none;
}

#hList nav ul li a:hover,
#hList nav ul li .active {
	background-position:left bottom !important;
}

.fixed {
  position: fixed;
  top: 60px;
}



/* ---------------------------------------------------


  RECRUIT


--------------------------------------------------- */
.recruit{
	width: 100%;
	background:#f2f2f1 url(../../images/recruit/bg.gif) repeat-x center top;
	margin:0 auto;
	text-align:center;
}

.recruit article{
	margin:0 auto;
	padding:30px 0 0 0;
}

.recruit .inner{
	margin:0 auto;
	padding:0 0 50px 0;
	width:940px;
}

.recruit .recruitWrap{
	float:right;
	width:640px;
	padding:100px 0 0 0;
	text-align:left;
}

.recruit h2{
	padding:75px 0;
}

/*----------------------------------------
nav
----------------------------------------*/
.loNav{
	background:#fff;
	width:100% !important;
	padding:40px 0;
	}

.story .loNav{
	background:none;
	width:100% !important;
	padding:40px 0;
	}
	
.recruit .loNav ul.foot{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:860px;
	padding:0 0 200px 0 !important;
	}

.recruit .loNav li{
	display:table-cell;
}

.recruit .sideNav ul {
	float:left;
	width:190px;
	padding:100px 0 0 0;
	}
	
.recruit .sideNav li{
	background:url(../../images/recruit/navLineBl.png) no-repeat center bottom;
	text-align:left;
	padding:15px 0 13px 2px;
	line-height:10px;
}


.recruit .sideNav li:first-child{
	background-image:url(../../images/recruit/navLineBl.png), url(../../images/recruit/navLineBl.png);
	background-position:center bottom,center top;
	background-repeat:no-repeat,no-repeat;
	text-align:left;
	padding:15px 0 13px 2px;
	line-height:10px;
}

/*.recruit .sideNav li:last-child{
	background-image:url(../../recruit/images/navLineGr.png);
	background-position:center bottom;
	background-repeat:no-repeat;
}*/

.recruit .sideNav li a{
	display:block;
}

/*----------------------------------------
message
----------------------------------------*/
.recruitMessage{
	display:table;
	padding:0 0 80px 0;
	width:585px;
}

.recruitMessage h3, .recruitMessage p{
	display:table-cell;
}

.recruitMessage h3{
	padding:8px 0 0 0;
}

/*----------------------------------------
step
----------------------------------------*/
.recruitStep{
	padding:0 0 80px 0;
	width:585px;
}

.recruitStep li{
	padding:0 0 40px;
}


/*----------------------------------------
system
----------------------------------------*/
.recruitSystem{
	background:url(../../images/recruit/line.png) repeat-x bottom left;
	padding:0 0 100px 0;
	width:635px;
}

.recruitSystem h4{
	padding:80px 0 45px 0;
}

.recruitSystem .system ul{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:685px;
	padding:40px 0 0 0 !important;
	}

.recruitSystem .system li{
	display:table-cell;
	padding:0 0 0 0;
}

.recruitSystem .sec03{
	display:table;
	margin:0 auto 0 -8px;
	table-layout: fixed;
	width:645px;
	padding:40px 0 0 0 !important;
	}

.recruitSystem .sec03 li{
	background:url(../../images/recruit/systemSec03Bg.gif) no-repeat center top;
	display:table-cell;
	padding:30px 0 0 0;
	text-align:center;
	width:117px;
	height:87px;
	color:#fff;
}

/*----------------------------------------
qa
----------------------------------------*/
.recruitQa{
	margin:0 0 70px;
}

.recruitQa .qa li{
	background:url(../../images/recruit/qaBg.gif) no-repeat center left;
	width:635px;
	height:40px;
	color:#fff;
	font-size:18px;
	margin:0 0 18px;
}

.recruitQa .qa li a{
	color:#ffffff;
	display:block;
	padding:5px 0 0 20px;
}

.recruitQa .qa li a:hover{
	color:#ff0000;
}

.qaGr{
	background:#eaeae8;
	width:100%;
	padding:0 0 70px;
	font-size:18px;
}

.qaWh{
	background:#fff;
	width:100%;
	padding:0 0 70px;
	font-size:18px;
}

.qaGr h4, .qaWh h4{
	padding:0 0 50px;
}

.qaLine{
	border-bottom:20px solid #efefeb;
}

.qaWh ul.flow li{
	background:url(../../images/recruit/qaTtlSecBg01.png) no-repeat bottom left;
	margin:0 auto;
	width:635px;
	padding:15px 0 45px 0;
	}

.qaWh ul.flow li:last-child{
	background:url(../../images/recruit/qaTtlSecBg02.png) no-repeat bottom left;
	margin:0 auto;
	width:635px;
	padding:15px 0 10px 0;
	}

.recruitSystem .system li{
	display:table-cell;
	padding:0 0 0 0;
}

.recruitSystem .sec03{
	display:table;
	margin:0 auto 0 -8px;
	table-layout: fixed;
	width:645px;
	padding:40px 0 0 0 !important;
	}

.recruitSystem .sec03 li{
	background:url(../../images/recruit/systemSec03Bg.gif) no-repeat center top;
	display:table-cell;
	padding:30px 0 0 0;
	text-align:center;
	width:117px;
	height:87px;
	color:#fff;
}



/*----------------------------------------
program
----------------------------------------*/
.recruitProgram{
	background:url(../../images/recruit/line.png) repeat-x bottom left;
	padding:0 0 100px 0;
	width:635px;
}

.recruitProgram h3{
	padding:0 0 45px 0;
	text-align:center;
}

.recruitProgram h4{
	padding:100px 0 60px 0;
}

.recruitProgram .program{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	}

.recruitProgram .program li{
	background:url(../../images/recruit/programSec03ListBg.png) no-repeat center top;
	display:table-cell;
	padding:0 14px;
	text-align:center;
	vertical-align:middle;
	width:194px;
	height:194px;
	color:#fff;
	font-size:18px;
}


/* ---------------------------------------------------


  BUSINESS


--------------------------------------------------- */
.business{
	width: 100%;
	background:url(../../images/business/businessBg.gif) repeat-x top center;
	margin:0 auto;
	text-align:center;
}

.business article{
	margin:0 auto;
	padding:50px 0 0 0;
}

.business h2{
	padding:20px 0 70px;
}

.business h3{
	padding:90px 0 70px;
}

.business p{
	width:550px;
	margin:0 auto;
	text-align:left;
}

.business p{
	width:550px;
	margin:0 auto;
	text-align:left;
}

.business .loNav ul{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:980px;
	padding:40px 0 130px 0;
	}

.business .loNav li{
	display:table-cell;
}

.territory{
	background:url(../../images/business/business01Bg.jpg) no-repeat center  150px;
	margin:50px 0;
	height:1070px;
	border-bottom:6px solid #f0f0ee;
}

.territory .inner{
	width:950px;
	margin:0 auto;
}

.territory ul{
	background:url(../../images/business/business01ListNo.png) no-repeat left 7px;
	font-size:13px;
	margin:500px 0 0 220px;
	text-align:left;
}

.territory ul li{
	margin:0 0 0 20px;
	padding:0 0 0 0;
	line-height:22px !important;
}

.goods{
	width: 100%;
	border-bottom:6px solid #f0f0ee;
}

.goods01{
	width: 100%;
	background:url(../../images/business/business02Bg01.jpg) no-repeat center 0;
	margin:0 auto;
	text-align:center;
	height:780px;
}

.goods01 ul{
	display:table;
	table-layout: fixed;
	width: 980px;
	background:url(../../images/business/business02_i01.jpg) no-repeat center top;
	margin:105px auto 0;
	padding:70px 0 30px 0;
}

.goods01 ul li{
	display:table-cell;
	text-align:center;
	padding:70px 0 0 0;
}

.goods02{
	width: 100%;
	background:url(../../images/business/business02Bg02.jpg) no-repeat center 0;
	margin:0 auto;
	text-align:center;
	height:780px;
}

.goods02 ul{
	display:table;
	table-layout: fixed;
	width: 910px;
	background:url(../../images/business/business02_i02.jpg) no-repeat center top;
	margin:180px auto 0;
	padding:70px 0 30px 0;
}

.goods02 ul li{
	display:table-cell;
	text-align:center;
	padding:80px 0 0 0;
}

.goods03{
	width: 100%;
	background:url(../../images/business/business02Bg03.jpg) no-repeat center 0;
	margin:0 auto;
	text-align:center;
	height:690px;
}

.goods03 ul{
	display:table;
	table-layout: fixed;
	width: 910px;
	background:url(../../images/business/business02_i03.jpg) no-repeat center top;
	margin:215px auto 0;
	padding:70px 0 30px 0;
}

.goods03 p{
	width: 490px;
}

.goods03 ul li{
	display:table-cell;
	text-align:center;
	padding:60px 0 0 0;
}

.businessDetailBtn{
	width:980px;
	text-align:right;
	padding:0;
	margin:0 auto;
}

.business .commitment h2{
	padding:20px 0 0;
}

.commitment{
	margin:50px 0 120px;
	border-bottom:6px solid #f0f0ee;
	padding:0 0 150px;
}

.commitment p{
	margin:0 auto;
	width:570px;
	padding:0 0 70px;
	max-height: 999999px;
}


/* ---------------------------------------------------


  WORK


--------------------------------------------------- */
.workTop{
	width: 100%;
	background:url(../../images/business/businessBg.gif) repeat-x top center;
	margin:0 auto;
	text-align:center;
}

.workTop article{
	margin:0 auto;
	padding:50px 0 0 0;
}

.workTop h2{
	padding:60px 0 70px;
}

.workTop h3{
	padding:90px 0 70px;
}

.workTop p{
	margin:0 auto;
	text-align:center;
}

.workTop .slide{
	background:url(../../images/person/topBg01.jpg) no-repeat top center;
	margin:0 auto 120px;
	padding:0 0 50px;
	width:100%;
	border-bottom:23px solid #f0f0ee;
	}

.workTop .slide ul.flow{
	background:url(../../images/person/topBg.gif) no-repeat top center;
	margin:0 auto 0 -10px;
	padding:3px 0 0 0;
	}

.workTop .slide ul.flow li{
	float:left;
	list-style:none;
	background-color:#f6f6f4 ;
	background-image:url(../../images/person/topSlide_arrow.png),
	url(../../images/person/topSlideBg.gif);
	background-position: left center, right top;
	background-repeat:no-repeat,no-repeat;
	width:313px !important;
	height:258px;
	}

.workTop .slide ul.flow li.bgRed{
	background-image:url(../../images/person/topSlide_arrow.png),
	url(../../images/person/topSlideBg_red.gif);
	background-position: left center, right top;
	background-repeat:no-repeat,no-repeat;
	color:#fff;
	width:313px !important;
	height:258px;
	}

.workTop .slide ul.flow li.bgRed02{
	text-align:right;
	}

.workTop .slide ul.flow li.end{
	background:url(../../images/person/topSlide_arrow.png) left center no-repeat;
	width:150px !important;
	height:258px;
	text-align:right;
	}

.workTop .slide ul.flow li:first-child{
	background:url(../../images/person/topSlideBg.gif)  right top no-repeat;
	width:273px !important;
	margin:0 0 0 40px;
	}

.workTop .slide ul.flow li .inner{
	padding:35px 30px 0 70px;
	margin:1px;
	}

.workTop .slide ul.flow li:first-child .inner{
	padding:35px 30px 0 30px;
	}
	
.workTop .slide ul.flow li .inner h3, .workTop .slide .box li h3{
	padding:0;
	margin:0 auto;
	}
	
.workTop .slide ul.flow li .inner p, .workTop .slide .box li p{
	text-align:left;
	font-size:16px;
	line-height:28px;
	padding:20px 0 0;
	}

.workTop .slide ul.flow li .inner .slideLink{
	background-image:url(../../images/person/topSlide_linkR.gif),
	url(../../images/person/workLine.gif);
	background-position: right 10px, top center;
	background-repeat: no-repeat, repeat-x;
	position:absolute;
	text-align:right;
	padding:10px 20px 0 0;
	top:220px;
	width:195px;
	}

.workTop .slide .box ul{
	display:table;
	padding:70px 0 40px 30px;
	margin:0 auto;
	width:980px;
	position:relative;
	table-layout: fixed;
	}

.workTop .slide .box li{
	display:table-cell;
	background:url(../../images/person/topBoxBg.gif) no-repeat;
	width:396px;
	height:159px;
	padding:35px 65px 0 35px;
	}

.workTop .slide .box li .slideLink{
	background-image:url(../../images/person/topSlide_linkR.gif),
	url(../../images/person/workLine.gif);
	background-position: right 10px, top center;
	background-repeat: no-repeat, repeat-x;
	position:absolute;
	text-align:right;
	padding:10px 20px 0 0;
	top:225px;
	width:385px;
	}

.workTop .man{
	background:url(../../images/person/topBg.gif) no-repeat top center;
	margin:70px auto 0;
	width:100%;
	border-bottom:23px solid #f0f0ee;
	}
	
.workTop .man ul{
	margin:0 auto;
	width:980px;
	padding:0 0 100px;
	text-align:left;
	}

.workTop .man ul li{
	float:left;
	padding:5px 0 5px 5px;
	}

.workTop .man ul li:nth-child(2n+1) {  /* 奇数行 */
	padding:5px 5px 5px 0;
}
	
.workTop .man ul ul > *:first-child + * + * + * + * + * + * + * + * {/*IE8用-*/
	padding:5px 5px 5px 0;
	}


.work {
	width: 100%;
	background:url(../../images/person/workBg.gif) no-repeat center top;
	margin:0 auto;
	text-align:center;
	height:auto;
	}

.work article{
	margin:0 auto;
	padding:50px 0 0 0;
}

.work h2{
	padding:90px 0;
	text-align:center;
	}

.work .inner{
	margin:0 auto;
	width:685px;
	position:relative;
	}

.work h3{
	padding:60px 0;
	}

.work p{
	text-align:left;
	max-height: 999999px;
	}

.work h3.top{
	padding:0;
	}
	
.work .inner h4.square{
	top:-40px;
	left:-150px;
	position:absolute;
	}

.work aside{
	background:#f6f6f4;
	width:680px;
	margin:100px auto;
	padding:60px 150px;
	}

.work aside h4{
	padding:0 0 30px;
	}

.work .loNav{
	background:#f6f6f4;
	width:100%;
	margin:0 auto 120px;
	padding:100px 0;
	}

.work .loNav ul{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	width:980px !important;
	padding:30px 0 0 !important;
	}

.work .loNav li{
	display:table-cell;
}


/* ---------------------------------------------------


  OTHER


--------------------------------------------------- */
table.t01{
	}

table.t01 th, table.t01 td{
	padding:0 30px 25px 30px;
	}

table.t02{
	}

table.t02 th, table.t02 td{
	padding:15px 0 15px 5px;
	border-bottom:1px solid #b5b5b5;
	}

table.t02 th{
	font-weight:normal;
	text-align:left;
	}


ul.list{
	}

ul.list li{
	padding:0 0 15px;
	}

ul.disc{
	}

ul.disc li{
	list-style:disc outside;
	margin:0 0 0 20px;
	padding:0 0 15px;
	}


ul.lineRed{
	width:890px;
	}

ul.lineRed li{
	float:left;
	width:412px;
	font-size:22px;
	border-bottom:#e00012 4px solid;
	padding:0 0 3px;
	margin:0 0 25px 65px;
	text-align:left;
	}

ul.lineRed li:nth-child(odd){
	margin:0 0 15px 0;
	}

ul.lineRed01{
	float:left;
	width:412px;
	}

ul.lineRed02{
	float:left;
	width:412px;
	margin:0 0 0 65px;
	}

ul.lineRed01 li,
ul.lineRed02 li{
	font-size:22px;
	border-bottom:#e00012 4px solid;
	padding:0 0 3px;
	margin:0 0 23px 0;
	text-align:left;
	}

