@charset "utf-8";

/* ---------------------------------------------------


  TOTAL


--------------------------------------------------- */
.inner {
	margin:0 15px;
	}

section {
	padding:0 0 30px;
	}


.pageTop_cach {
	font-size:13px;
	width:auto !important;
	text-align:center !important;
	}


/* ---------------------------------------------------


  CULTURE


--------------------------------------------------- */
.culture{
	width: 100%;
}

.culture h1{
	background:#f5f5f3;
	padding:30px 0 !important;
}

.culture .loNav ul{
	display:table;
	margin:0 auto;
	table-layout:fixed;
	width:100%;
	}

.culture .loNav li{
	background:url(../../images_sp/company/loNavTopOff.png) no-repeat right 5px center;
	background-size:5px;
	display:table-cell;
	text-align:center;
	border-left:#efefeb 2px solid;
	border-bottom:#efefeb 5px solid;
	width:33%;
}

.culture .loNav li:nth-child(2){
	background:none;
	border-left:#efefeb 2px solid;
	border-bottom:#efefeb 5px solid;
	width:33%;
}

.culture .loNav li img{
	width:60%;
	padding:0 15px 0 0;
}

.culture .loNav li:nth-child(2) img{
	width:100%;
	padding:0;
}

.culture .loNav li.off{
	background:#000 url(../../images_sp/company/loNavTopOn.png) no-repeat right 5px center;
	background-size:5px;
}

.culture .loNav li a{
	display:block;
	padding:13px 0;
}


.culture .topNav li.off a{
	color:#fff !important;
}

.cultureLoNav ul {
	display:table;
	margin:0 auto;
	table-layout: fixed;
	padding:30px 0 0 0;
	}

.cultureFootLoNav ul {
	padding:0;
	}

.cultureLoNav li{
	display:table-cell;
}


.culture h2{
	padding:40px 0 20px;
}

.culture h3{
	padding:0 0 40px;
}

/*----------------------------------------
top
----------------------------------------*/
.cultureTop{
	background:#f5f5f3;
	padding:0;
}

.culture .topNav{
	margin:30px 0 0;
	padding:15px 15px;
	background:#fff;
}

.cultureTop .topNav li{
	padding:3px 0;
}

/*----------------------------------------
real
----------------------------------------*/
.real {
	}

.real h3{
	padding:0 0 40px;
	}

.realGr{
	background:#efefeb;
	padding:30px 0 30px;
	margin:30px 0 0 0;
	}

.realWh{
	background:#fff;
	padding:30px 0 30px;
	}

.realGr aside.q01 dl{
	padding:30px 0 0;
	}

.realGr aside.q01 dt{
	padding:15px 0 15px 15px;
	background:#000;
	color:#fff;
	}

.realGr aside.q01 dd{
	background:#fff;
	}

.realGr aside.q01 dd ul li{
	padding:13px 0 13px 15px;
	border-bottom:1px solid #000;
	}

.realGr aside.q01 dd ul li:last-child{
	border-bottom:none;
	}

.realGr aside.q01 dd ul li p{
	}
/*----------------------------------------
view
----------------------------------------*/
.viewArea{
	position:relative;
	padding:0;
}

.view h3{
	padding:0 !important;
}

.viewArea .ico{
	position:absolute;
	top:-10px;
	width:20px;
	margin: 0 auto;
	left:0;
	right:0;
	text-align:center;
	z-index:10;
}


/*----------------------------------------


project


----------------------------------------*/
.projectLoNav ul {
	display:table;
	margin:0 auto;
	table-layout: fixed;
	}

.projectLoNav li{
	display:table-cell;
}


.project h1{
	background:#f5f5f3;
	padding:30px 0 !important;
}

.project .top{
	background:#f5f5f3;
	padding:10px 15px 30px;
	}

.project h3{
	padding:30px 0;
}

.project .profile{
	padding:30px 0 0;
}

.project .outline h4{
	font-weight:bold;
	text-align:center;
	padding:20px 0 20px;
}

.project .outline .line {
	padding:20px 0;
    display: table;
	color:#717071;
	font-size:10px;
   text-align: right;
   white-space: nowrap;
}
.project .outline .line:after, .project .outline .line:before {
  content: '';
  display: table-cell;
  width: 100%;
  background: -webkit-linear-gradient(transparent 50%, currentColor 50%, currentColor -webkit-calc(50% + 1px), transparent -webkit-calc(50% + 1px));
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, currentColor), color-stop(currentColor calc(50% + 1px)), to(transparent calc(50% + 1px)));
  background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
  -webkit-background-clip: padding;
  background-clip: padding;
}


.storyPhase{
	background:#000;
	margin:0 auto;
	color:#fff;
}

.storyPhase h4{
	padding:20px 0;
}

.storyPhase .storyPhase01Ph{
	display:table-cell;
	width:40%;
	padding:0 0 20px;
}

.storyPhase .txt{
	display:table-cell;
	padding:0 10px 0 15px;
}

.storyPhase .ph{
	padding:20px 0;
}

.storyPhase p{
	//padding:0 0 15px;
}

.story01End{
	background:url(../../images_sp/project/story01Bg02.jpg) no-repeat right top;
	background-size:contain;
}

.story02End{
	background:url(../../images_sp/project/story02Bg02.jpg) no-repeat right 0;
	background-size:contain;
}


.storyEnd{
	margin:0 0 30px !important;
	text-align:left;
	padding:30px 0 0;
}

.storyEnd .message{
	margin:0 15px;
	text-align:left;
}

.storyEnd .message h4{
	padding:20px 0 0;
}

.storyEnd .message p{
	width:75%;
	padding:30px 0;
}


/* ---------------------------------------------------


  MESSAGE


--------------------------------------------------- */
.Message{
	background:#f5f5f3;
	margin:0 auto;
	text-align:center;
}

.Message h1{
	margin:0 auto;
	padding:30px 0 !important;
}

.Message h2{
	border-top:1px solid #d40012;
	padding:30px 0;
}

.Message p{
}

/* ---------------------------------------------------


  COMPANY


--------------------------------------------------- */
.companyTop{
	width: 100%;
}

.companyTop h1{
	background:#f5f5f3;
	padding:30px 0 !important;
}

.companyTopB{
	width: 100%;
	margin:0 auto;
	text-align:center;
}

.companyTop .loNav ul{
	display:table;
	margin:0 auto;
	table-layout:fixed;
	width:100%;
	}

.companyTop .loNav li{
	background:url(../../images_sp/company/loNavTopOff.png) no-repeat right 5px center;
	background-size:5px;
	display:table-cell;
	text-align:center;
	font-size:12px;
	border-left:2px #f5f5f3 solid;
}

.companyTop .loNav li:first-child{
	border-left:none;
}

.companyTop .loNav li.off{
	background:#000 url(../../images_sp/company/loNavTopOn.png) no-repeat right 5px center;
	background-size:5px;
}

.companyTop .loNav li a{
	display:block !important;
	padding:19px 0 7px;
}

.companyTop .loNav li img{
	width:80%;
}

.companyTop .loNav li:nth-child(2) img{
	padding:0 13px 0 0;
}


.companyTop .topNav li.off a{
	color:#fff !important;
}

.companyTop .topNavCon{
	border-bottom:solid 5px #f5f5f3;
	}

.companyTop .topNavCon li a{
	display:block;
	padding:18px 0 10px;
	}

.companyTop .footNav{
	border-top:solid 2px #000;
	border-bottom:solid 2px #000;
	}

.companyTop .footNav li{
	border-right:solid 2px #000;
	}

.companyTop .footNav li:first-child{
	border-left:solid 2px #000;
	border-right:none;
	}

.companyTop .footNav li a{
	display:block;
	padding:18px 0 10px !important;
	}

.companyTop .footNav li.off a{
	background:#000 url(../../images_sp/company/loNavTopOn.png) no-repeat right 5px center;
	background-size:5px;
	}


.companyTop h2{
	padding:40px 0 20px;
}

.companyTop h3{
	padding:0 0 40px;
}

.companyTop table{
}

.companyTop table th{
	font-size:12px;
	white-space:nowrap;
	text-align:left;
	font-weight:normal;
	padding:5px 0;
}

.companyTop table td{
	font-size:12px;
	line-height:18px;
	padding:5px 0 5px 10px;
}


/*----------------------------------------
data
----------------------------------------*/
.data {
	width: 100%;
	margin:0 auto;
	}

.data .dataList{
	background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
	background-size: 5px 1px;
	background-position: bottom;
	background-repeat: repeat-x;
	}

.data ul{
	display:table;
	font-size:0;
	margin:40px 0;
	background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
	background-size: 5px 1px;
	background-position: top;
	background-repeat: repeat-x;
	}

.data ul li{
	display:inline-block;
	padding:20px 0;
	margin:10px 0;
	text-align:center;
	background-image: linear-gradient(to bottom, #000, #000 1px, transparent 1px, transparent 4px);
	background-size: 1px 5px;
	background-position: left;
	background-repeat: repeat-y;
	}

.data ul li:first-child{
	background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
	background-size: 5px 1px;
	background-position: bottom;
	background-repeat: repeat-x;
	}

.data ul li:last-child{
	background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
	background-size: 5px 1px;
	background-position: top;
	background-repeat: repeat-x;
	}

.data ul li:nth-child(2){
	background-image:none;
	}

.data ul li:nth-child(2),
.data ul li:nth-child(3),
.data ul li:nth-child(4){
	width:33%;
	}

.data ul li:nth-child(2) img,
.data ul li:nth-child(3) img,
.data ul li:nth-child(4) img{
	width:90%;
	}

.dataConBox{
	width:90%;
	padding:30px 20px 0;
	background:#fff;
	}

.dataConBox p{
	padding:30px 0;
	width:90%;
	margin:0 auto;
	text-align:left;
	}
/*----------------------------------------
history
----------------------------------------*/
.history {
	width: 100%;
	margin:0 auto;
	}

.history .hisArea.first {
	margin:40px 0 0 0;
	}

.history .hisArea {
	background:url(../../images_sp/company/historyBg.png) no-repeat center bottom;
	background-size:115%;
	}

.history .hisArea.end{
	background:url(../../images_sp/company/historyBgEnd.png) no-repeat center bottom;
	background-size:115%;
	padding-bottom:15%;
	}

.history .hisArea dl{
	padding:20px 40px 20px;
	}

.history .hisArea.first dl {
	padding:40px 40px 20px;
	}


.history .hisArea dl dd{
	padding:20px 0 0;
	font-size:14px;
	line-height:24px;
	}



/* ---------------------------------------------------


  RECRUIT


--------------------------------------------------- */
.recruit{
	width: 100%;
}

.recruit h1{
	background:#f5f5f3;
	padding:30px 0 !important;
}

.recruit h2{
	margin:0 15px;
	padding:40px 0;
}

.recruit .recList{

}

/*----------------------------------------
nav
----------------------------------------*/
.recruit .loNav{
	position:relative;
	width:100% !important;
	background:#3e3a39;
	color:#fff;
	}

.recruit .loNav h3{
	font-weight:normal;
	text-align:center;
	padding:15px 0 15px 0;

	}

.recruit .loNav ul{
	display:none;
	background:#726e6d;
	}

.recruit .loNav li{
	border-bottom:1px solid #b2b1b1;
}

.recruit .loNav li a{
	display:block;
	padding:15px 0 15px 10px;
	color:#fff;
}

.rec-animation {
      width: 20px;
      height: 20px;
      display: block;
      cursor: pointer;
      float: right;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 5px;
    }

    .rec-animation span {
      width: 20px;
      height: 2px;
      display: block;
      background: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -15px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    .rec-animation .top {
      -webkit-transform: translateY(10px) rotate(90deg);
      -ms-transform: translateY(10px) rotate(90deg);
      transform: translateY(10px) rotate(90deg);
    }

    .rec-animation .bottom {
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
    }


    .rec-open .top {
      -webkit-transform: rotate(0deg) translateY(10px);
      -ms-transform: rotate(0deg) translateY(10px);
      transform: rotate(0deg) translateY(10px);
    }

    .rec-open .bottom {
      background: rgba(51, 51, 51, 0);
    }

.recruit .footNav{
	background:#fff;
	color:#000;
	margin:0 15px;
	}

.recruit .footNav ul{
	background:#fff;
	}

.recruit .footNav li{
	background-image: linear-gradient(to right, #000, #000 1px, transparent 1px, transparent 4px);
	background-size: 5px 1px;
	background-position: bottom;
	background-repeat: repeat-x;
	}

.recruit .footNav li a{
	display:block;
	padding:15px 0 15px 10px;
	color:#000;
}

.recruit .footNav li.on a{
	color:#ff0000;
}

/*----------------------------------------
message
----------------------------------------*/
.recruitMessage{
	background:#efefeb;
	display:table;
	padding:30px 0 30px 0;
}

.recruitMessage h3, .recruitMessage p{
	display:table-cell;
}

.recruitMessage h3{
	width:30px;
}

.recruitMessage p{
	padding:0 0 0 20px;
}

.recruitMessage p.right{
	padding:0 20px 0 0;
}

/*----------------------------------------
step
----------------------------------------*/
.recruitStep{
	background:#efefeb;
	padding:40px 0 20px;
}

.recruitStep li{
	padding:0 0 20px;
}

/*----------------------------------------
info
----------------------------------------*/
.recruitInfo{
	background:#efefeb;
	padding:40px 0 20px;
}

.recruitInfo dt{
	padding:0 0 10px;
}

.recruitInfo dd{
	padding:0 0 20px;
	margin:0 0 20px;
	border-bottom:#000 1px dotted;
}

/*----------------------------------------
qa
----------------------------------------*/
.recruitQa{
	background:#efefeb;
	padding:40px 0 20px;
}

.recruitQa h3{
	padding:0 0 30px;
}

.recruitQa .qa dt{
	background:#000 url(../../images_sp/recruit/qaArrow.png) no-repeat right 10px center;
	background-size:15px;
	color:#fff;
	margin:0 0 20px;
	display:block;
	padding:10px 25px 10px 15px;
}

.recruitQa .qa{
	padding:0 0 30px;
}

.recruitQa .qa dd{
	display:none;
	background:#fff;
	padding:20px 15px 20px;
	margin:-20px 0 30px;
}

.qaLine{
	border-bottom:20px solid #efefeb;
}

.recruitQa ul.flow li{
	background:url(../../images_sp/recruit/qaTtlSecBg01.png) no-repeat bottom left;
	background-size:100%;
	margin:0 auto 10px;
	padding:0 0 20px 0;
	overflow:hidden;
	}

.recruitQa ul.flow li:last-child{
	background:none;
	padding:0;
	}

.recruitQa .btn{
	width:90%;
	margin:10px auto 0;
	background:url(../../images_sp/recruit/qaBtnBg.gif) no-repeat right center;
	background-size:100%;
	text-align:center;
	}

.recruitQa .btn a{
	display:block;
	padding:10px 0;
	color:#fff;
	}

/*----------------------------------------
system
----------------------------------------*/
.recruitSystem{
	background:#efefeb;
	padding:40px 0 20px;
}

.recruitSystem h3{
	padding:0 0 30px;
}

.recruitSystem h4{
	padding:0 0 20px;
}

.recruitSystem p{
	padding:0 0 20px;
}

.recruitSystem .system ul{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	padding:30px 0 0 0;
	}

.recruitSystem .system li{
	display:table-cell;
	padding:0 5px;
	width:33%;
}

.recruitSystem .sec03{
	display:table;
	margin:0 auto 0 -8px;
	table-layout: fixed;
	padding:40px 0 0 0 !important;
	}

.red{
	color:#ff0000;
}

/*----------------------------------------
program
----------------------------------------*/
.recruitProgram{
	background:#efefeb;
	padding:40px 0 0;
}

.recruitProgram h3{
	padding:0 0 30px;
}

.recruitProgram .ph{
	padding:0 0 40px;
}

.recruitProgram h4,
.recruitProgram p{
	padding:0 0 30px;
}

/* ---------------------------------------------------


  BUSINESS


--------------------------------------------------- */
.business{
	width: 100%;
}

.business h1{
	background:#f5f5f3;
	padding:30px 0 !important;
}

.busiTop{
	background:#f5f5f3;
	padding:0 0 30px;
}

.business h2{
	padding:30px 0 30px;
}

.business h3{
	padding:0 0 30px;
}

.business .loNav ul{
	display:table;
	margin:0 auto;
	table-layout:fixed;
	width:100%;
	}

.business .loNav li{
	background:url(../../images_sp/company/loNavTopOff.png) no-repeat right 5px center;
	background-size:5px;
	display:table-cell;
	text-align:center;
	border-left:#efefeb 2px solid;
	border-bottom:#efefeb 5px solid;
	width:33%;
}

.business .loNav li img{
	width:80%;
	padding:0 15px 0 0;
}

.business .loNav li.off{
	background:#000 url(../../images_sp/company/loNavTopOn.png) no-repeat right 5px center;
	background-size:5px;
}

.business .loNav li a{
	display:block;
	padding:13px 0;
}


/*----------------------------------------
territory
----------------------------------------*/
.territory ul{
	font-size:12px;
	padding:20px 0 0 0;
}

.territory ul li{
	list-style:outside decimal;
	margin:0 0 0 30px;
	line-height:14px;
	padding:0 0 15px;
}

.territory ul li:nth-child(1){color:#ff6bbc;}
.territory ul li:nth-child(2){color:#48b800;}
.territory ul li:nth-child(3){color:#804aa7;}
.territory ul li:nth-child(4){color:#d40012;}
.territory ul li:nth-child(5){color:#d85513;}
.territory ul li:nth-child(6){color:#61b3ff;}
.territory ul li:nth-child(7){color:#3f80cf;}
.territory ul li:nth-child(8){color:#e86c00;}
.territory ul li:nth-child(9){color:#804f21;}
.territory ul li:nth-child(10){color:#009088;}
.territory ul li:nth-child(11){color:#d85513;}
.territory ul li:nth-child(12){color:#008744;}
.territory ul li:nth-child(13){color:#7f7d32;}

.territory ul li p{
	color:#000;
}
.territory ul li a{
	font-size:10px;
	color:#000;
}

/*----------------------------------------
goods
----------------------------------------*/
.goods{

}

.goods h3{
	padding:0 0 20px;
}

.goods section{
	padding:0;
}

.goods .ph,
.commitment .ph{
	padding:0 0 30px 0;
}

.goods p,
.commitment p{
	padding:0 0 20px 0;
}

.businessDetailBtn{
	text-align:right;
	padding:0 0 30px 0;
}

.businessDetailBtn img{
	width:30%;
}


/* ---------------------------------------------------


  WORK


--------------------------------------------------- */
.work{
	width: 100%;
}

.work h1{
	background:#f5f5f3;
	padding:30px 0 30px;
}

.workTop .pageTop_cach{
	background:#f5f5f3;
	padding:0 15px 30px;
}

/*----------------------------------------
top
----------------------------------------*/
.work .man ul{
	padding:30px 25px 0;
	}

.work .man ul li{
	padding:0 0 20px;
	}

.work h2{
	padding:40px 0 30px;
}

.work h3{
	padding:0 0 0;
}

.work h4{
	padding:20px 0px;
}

.work p{
	padding:0 0 30px;
}

.work .name{
	text-align:center;
	padding:0 0 20px;
	font-size:12px;
}

.work .name span{
	font-size:13px;
	font-weight:bold;
}

.mainArea{
	position:relative;
}

.mainArea .square{
	position:absolute;
	top:-50px;
	left:10px;
	width:80px;
	}

.work aside{
	background:#f6f6f4;
	padding:20px 15px 0;
	}

.work aside h4{
	padding:0 0 20px;
	}

.work .loNav{
	margin:30px 0 0 0;
	padding:30px 0;
	background:#f6f6f4;
	}

.work .loNav ul{
	display:table;
	margin:0 auto;
	table-layout: fixed;
	padding:0 15px;
	font-size:0;
	}

.work .loNav li{
	display:inline-block;
	font-size:13px;
	width:31%;
	padding:10px 10px 10px 0;
	border-bottom:1px solid #e7211a;
}

.work .loNav li.on{
	background:url(../../images_sp/person/loNavBg.png) no-repeat bottom center;
	background-size:100%;
}


.work .loNav li:nth-child(1),
.work .loNav li:nth-child(4){
	padding:10px 0;
	margin:0 10px 0 0;
}

.work .loNav li:nth-child(2){
	padding:10px 0;
}

.work .loNav li:nth-child(3){
	border-bottom:none;
}

.work .loNav li:nth-child(3),
.work .loNav li:nth-child(6){
	padding:35px 0 10px 0;
}

.work .loNav li:nth-child(7){
	padding:10px 0 10px 0;
}

.work .loNav h3{
	margin:0 15px;
	padding:0;

}

.work .loNav li p{
	font-size:11px;
	padding:0;
	height:25px;
}

/* ---------------------------------------------------
  slide
--------------------------------------------------- */
.work .slide{
	width:100%;
	}

.work .slide h2{
	padding:30px 0 0 ;
	}

.work .slide ul.flow{
	position:relative;
	margin:0 auto;
	background:#f5f5f3;
	padding:20px 0;
	}

.work .slide ul.flow li{
	opacity:0.5;
	list-style:none;
	background:url(../../images_sp/person/topSlide_arrow.png)  left center no-repeat;
	background-size:20px;
	padding:0 8px 0 14px;
	}

.work .slide ul.flow li:first-child{
	background:none;
	}

.work .slide ul.flow li h3,
.work .slide .box h3{
	color:#d1171a ;
	letter-spacing:0.2em;
	text-align:center;
	font-size:15px;
	}

.work .slide ul.flow li.bgRed h3{
	color:#fff ;
	letter-spacing:0.2em;
	text-align:center;
	font-size:15px;
	border-bottom:dotted 1px #fff ;
	padding:0 0 20px;
	margin:0 auto;
	width:80%;
	}


.work .slide ul.flow li .inner{
	position:relative;
	background:#fff;
	padding:20px 20px 10px 20px;
	margin:0;
	}


.work .slide ul.flow li.bgRed .inner{
	background:#d1171a;
	color:#fff;
	}

.work .slide ul.flow li:last-child .inner{
	background:url(../../images_sp/person/topSlideTtl12.jpg)  center top no-repeat;
	background-size:contain;
	text-align:center;
}

.work .slide ul.flow li .inner p{
	text-align:left;
	padding:20px 0 10px;
	}

.work .slide ul.flow li.bgRed .inner p{
	width:60%;
	margin:0 auto;
	}

.work .slide ul.flow li .inner .slideLink,
.work .slide .box .slideLink{
	border-top:dotted 1px #d1171a;
	text-align:right;
	padding:10px 0 0 0;
	}

.work .slide ul.flow li .inner .slideLink a{
	line-height:18px;
	padding:5px 0 0;
	}

.work .slide ul.flow li .inner .slideLink img,
.work .slide .box .slideLink img{
	width:50px;
	padding:3px 0 0 0;
	}

.work .slide ul.flow li .inner span{
	color:#d1171a;
	}

.work .slide .box ul{
	padding:0;
	width:80%;
	margin:0 auto;
	}

.work .slide .box li{
	border:dotted 1px #d1171a;
	padding:20px 20px 10px 20px;
	margin:20px 0 0 0;
	}

.work .slide .box li p{
	padding:0 0 10px 0;
	}


/* ---------------------------------------------------


  OTHER


--------------------------------------------------- */
table.t02{
	}

table.t02 th, table.t02 td{
	padding:15px 0 15px 5px;
	border-bottom:1px solid #b5b5b5;
	}

table.t02 th{
	font-weight:normal;
	text-align:left;
	}


ul.list{
	}

ul.list li{
	padding:0 0 15px;
	}

ul.disc{
	}

ul.disc li{
	list-style:disc outside;
	margin:0 0 0 10px;
	padding:0 0 10px;
	}


ul.lineRed{
	border-top:#e00012 3px solid;
	border-bottom:#e00012 3px solid;
	}

ul.lineRed li{
	border-bottom:#3e3a39 1px solid;
	padding:15px 0 15px;
	margin:0 10% 0 0;
	}

ul.lineRed li:nth-child(5){
	border-bottom:#e00012 3px solid;
	margin:0;
	}

ul.lineRed li:last-child{
	border-bottom:none;
	}

ul.lineRed01 li:nth-child(4){
	border-bottom:#e00012 3px solid;
	margin:0;
	}

ul.lineRed01 li:nth-child(5){
	border-bottom:#3e3a39 1px solid;
	padding:15px 0 15px;
	margin:0 10% 0 0;
	}

ul.lineRed02 li:nth-child(3){
	border-bottom:#e00012 3px solid;
	margin:0;
	}

ul.lineRed02 li:nth-child(5){
	border-bottom:#3e3a39 1px solid;
	padding:15px 0 15px;
	margin:0 10% 0 0;
	}
